html
    head
        link(rel='stylesheet',href='style/style.css')
        link(rel='stylesheet',href='style/bootstrap.css')
        script(src='script/jquery.js')
    body
        
        div(class='container-fluid')
            div(class='jumbotron')
                div(class='text-center')
                    h1='Test Client'
        div.logbox
                .form-group
                    input.form-control.input-lg#Email(type='text', placeholder='Email')
                .form-group
                    input.form-control.input-lg#Name(placeholder='Name')
                .form-group
                    button.btn.btn-primary.btn-lg.btn-block#SignIn Sign In     

    script(src='script/script2.js')